body{
        margin:0px;
    }
 #editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 25;
    left: 0;
}
#header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 0px;
    z-index: 3000;
    transition: height 0.3s;  
    overflow: hidden;
    color:#A2A0A0;
}
#toolbar {
    float: left;
    margin-left:2px;
    font-size:21px;
    margin-right:2px;
    color:#4D4D4D;
    
}
#toolbar ul li i {
    cursor:pointer;
}
#toolbar ul li i:hover {
    color:black;
}
#toolbar ul {
    list-style: none;
    padding:0px;
    margin:0px;
}
.textBox {
    padding: 5px;
    width: 60%;
    font-size: 14px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-family: monospace;
    color:#D2D2D2;
}
li,input:focus{
    outline: none;
}
#spanDescription {
    font-family: monospace;
    font-size: 12px;
}
#footer {
    position: absolute;
    left:0;
    right:0;
    height:0;
    bottom:0;
    height:25;
    
}

.blackGradient {
    background: #545454;
    box-shadow: 3px 3px 10px #000;
}



#bottombar{
    list-style: none;
    margin: 0;
    border: none;
    padding: 0;
    font-size: 13px;
    font-family: monospace;
    padding-top: 4px;
}
#bottombar li{
    /*float:left;*/
    margin-left:10px;
    cursor: pointer;
    display: inline-flex;
}

.current_true {
    color: #f15a24;
    background-color: #292929;
    padding: 5px;
    margin-top: -4px; 
    
}

.closeButton{
    font-size: 15px;
    margin-top:12px;
    margin-right:5px;
    cursor: pointer;
    float:right;
    font-family: sans-serif;
}

#ctxout{
    position: absolute;
    top:40px;
    left: 5px;
    right: 5px;
    z-index: 3000;
    background: #383838;
    box-shadow:  -1px 1px 7px #191919;
    max-height:500px;
    font-family: sans-serif;
    font-size: 12px;
    overflow: auto;
    cursor: pointer;
    display:none;
    color:white;
}

#ctxout ul {
    list-style: none;
    /*margin: 0px;*/
    padding: 0px;
}

#ctxout ul li {
    list-style: none;    
    padding: 8px;
}
#ctxout ul li:nth-child(odd) {
   background-color: #424242;
}

.selected {
    background-color: #000 !important;
    color:white !important;
}

/*#ctxout ul li:hover{
    background-color: #272D38 !important;
    color:white !important;
}*/

iframe, object, embed {
        max-width: 100%;
}




#fileList::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #5A5A5A;
  border: none;
  width: 5px;
}

#fileList::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
  border: none;
}

#fileList::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}

.scrollFileList
{
    margin-left: 20px;
    float: left;
    width: 100%;
    overflow-y: scroll;
    margin-top: -24px;
}



.btn-default{
    padding-left: 20px;
    border-radius: 0px;
    font-size: 14px;
    border: none;
    background-color: #4E4E4E;
    color: #FF7B00;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: arial;
    border-bottom:3px solid #4E4E4E;
}
.btn-default:focus{
    border:none;
    outline: white;
}
.btn-default:hover{
    background-color: #323232;
    border-bottom:3px solid #FF7B00;
}
.splitty-icon{
    color:#4E4E4E;
}
.splitty-icon:hover{
    color:#FF7B00;
}


.splitty-input-text{
    padding: 10px;
    border: 1px solid #eee;
    width: 100%;
    font-size: 1em;
    color: #4D4D4D;
}