body{
        margin:0px;
    }
 #editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 25;
    left: 0;
}
#header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 0px;
    z-index: 3000;
    transition: height 0.3s;  
    overflow: hidden;
}

.textBox {
    padding: 5px;
    width: 60%;
    font-size: 14px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-family: monospace;
}
input:focus{
    outline: none;
}
#spanDescription {
    font-family: monospace;
    font-size: 12px;
}
#footer {
    position: absolute;
    left:0;
    right:0;
    height:0;
    bottom:0;
    height:25;
    
}

.blackGradient {
    background: #F1F1F1;
}


#bottombar{
    list-style: none;
    margin: 0;
    border: none;
    padding: 0;
    font-size: 13px;
    font-family: monospace;
    padding-top: 4px;
}
#bottombar li{
    float:left;
    margin-left:10px;
    cursor: pointer;
}

.current_true {
    color: #f15a24;
    background-color: #636060;
    padding: 5px;
    margin-top: -4px; 
    
}

.closeButton{
    font-size: 15px;
    margin-top:12px;
    margin-right:5px;
    cursor: pointer;
    float:right;
    font-family: sans-serif;
}

#foundFiles{
    position: absolute;
    top:40px;
    left: 5px;
    right: 5px;
    z-index: 3000;
    background: #F1F1F1;
    box-shadow:  -1px 1px 7px #969696;
    
    font-family: sans-serif;
    font-size: 14px;
    overflow: scroll;
    cursor: pointer;
}

#foundFiles ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#foundFiles ul li {
    list-style: none;    
    padding: 8px;
    border-bottom: 1px solid #969696;
}
#foundFiles ul li:nth-child(odd) {
   background-color: #dedede;
}

.selected {
    background-color: #272D38 !important;
    color:white !important;
}

#foundFiles ul li:hover{
    background-color: #272D38 !important;
    color:white !important;
}