.treeview{
    margin:0px;
    padding: 0px;
    font-size: 12px;    
    color: #989391;
    font-family: sans-serif;
}

.treeview ul{ 
    margin:0px;
    padding: 0px;
    list-style: none;
}
.exec-file{
    color:#4bd3a5;
}



