.treeview{
    margin:0px;
    padding: 0px;
    font-size: 12px;    
    color: #989391;
    font-family: sans-serif;
}

.treeview ul{ 
    margin:0px;
    padding: 0px;
    list-style: none;
}
.exec-file{
    color:#4bd3a5;
}


.filetree-window {
    position: absolute;
    width: 200px;
    right: 30px;
    top: 10px;
    height:630px;
    background-color: #424242;
    z-index: 1000;
    border: 1px solid #5A5252;
    overflow: hidden;
    opacity: .99;
    box-shadow: 3px 3px 6px #151313;
}
.top-header{
    background-color: #5A5A5A;
    margin:0px;
    width:100%;
    height: 15px;
}
.light-button{
    font-family: Arial;
    font-size:12px;
    color:white;
    cursor:pointer;
    margin:3px;
}
.tree-div{
    
}

#style-4::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #5A5A5A;
  border: none;
  width: 5px;
}

#style-4::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
  border: none;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}

.scrollbar
{
	margin-left: 0px;
	float: left;
	height: 615px;
	width: 100%;
	background: #4a4a4a;
	overflow-y: scroll;
	margin-bottom: 0px;
}

.circle{
    width:10px;
    height:10px;
    border-radius: 100px;
    border:none;
    margin:2px;
    padding:0px;
    position: absolute;
    cursor: pointer;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
