<div class="top-header">
<span class="circle red" onclick="javascript:FileTree.close()"></span>
<span class="circle green" style="left:15px;" onclick="javascript:FileTree.minimize()"></span>
</div>
<div class="scrollbar" id="style-4">
    <div id="tree-div" class="tree-div">
<div id="treeview" class="treeview"></div>
</div>
</div>
